[Desktop Entry]
Version=1.0
Name=Queen Alice Chess
GenericName=Chess
Comment=Play Internet Chess
Exec=/usr/lib/firefox/firefox -P app --new-window https://queenalice.com/mygames.php
Icon=applications-games
Terminal=false
Type=Application
#MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
#StartupWMClass=Firefox
Categories=Network;Games;
Keywords=web;browser;internet;
